.login-page{
	background: url("../img/background.jpg") no-repeat fixed;
	background-size: cover;
	overflow: hidden;
}
.uppercase{
	text-transform: uppercase;
}
.index-page{
	background: url("../img/background.jpg") no-repeat fixed;
	background-size: cover;
	overflow: hidden;
}
.transparent{
	padding: 20px;
	background:rgba(255,255,255,0.7);
    height: 700px;
}
.hr{
	border-color: #000;
}
.footer-welcome{
	position: relative;
	display: block;
	margin: 0 auto;
	width: 200px;
	margin-top: 100px;
}
.admin-page-body{
	background-color: #f3f3f3;
	max-width: 100%;
	overflow-x:hidden;
}
.static-left{
	background-color: #93d827;
    position: fixed;
    width: 230px;
    height: 100%;
    overflow: hidden;
    border-right: 2px solid #6f6f6f;
    float: left;
}
.admin-title-page{
	color:	rgba(0,0,0,0.7);
	font-weight: 700;
	font-size: 25px;
	text-align: center;
	background-color: #7bbf1c;
	padding: 5px;
	border-bottom: 1px solid #6f6f6f;
}
.admin-profile{
	background: url("../img/background.jpg") no-repeat fixed;
    width: 100%;
    height: 230px;
    border-bottom: 1px solid green;
    padding: 20px;
    text-align: center;
}
.admin-username{
	background: white;
	border-radius: 5px;
	text-transform: uppercase;
	font-weight: 600;
	margin-top: 2px;
}
.admin-content{
	position: relative;
    padding: 10px;
    float:left;
    width: 90%;
    padding-left: 250px;

}
.admin-hr{
	border: 1px solid black;
}
.menu{
	font-weight: 500;
    width: 100%;
    color: black;
}
.menu a{
	text-decoration: none;
    color: black;
}
.sub-menu{
	width: 100%;
    background: rgb(123, 191, 28);
    padding: 8px 10px;
    box-shadow: 0px 1px whitesmoke;
    margin-top: 1px;
    cursor: pointer;
}
.active{
	background-image: -webkit-gradient(linear, left top, right bottom, from(#eade41), to(#93d827));
}